@charset "utf-8";
/* CSS Document */


/*시작 페이드인 */
.container {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */; width: 100%
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



.container {min-width:1280px }

header {height:30px;background:#103562;top: 0;z-index: 1;}

.main {position:relative;width:1480px; margin: 0 auto;}
.main .topmenu { }
.main .topmenu .logo {position: absolute;top: 15px}
.main .topmenu .login {position: absolute; right: 0;top: 35px } 
.main .topmenu .login li {float: left;font-family: 'NanumSquareR';font-size: 16px}
.main .topmenu .login li a {margin-left: 30px}
.main .topmenu .login li a:nth-child(3) {margin-left: 0}

.main .topmenu nav {position: absolute; right: 0;top: 80px;z-index: 100; }
.main .topmenu nav .navtop {float: left;font-family: 'NanumSquareR';font-size: 20px}
.main .topmenu nav .navtop a{padding: 45px}
.main .topmenu nav .navlist .navtop:nth-child(2) {margin-left:30px}
.main .topmenu nav .navlist .navtop:nth-child(3) {margin-left:30px}
.main .topmenu nav .navlist .navtop:nth-child(4) {margin-left:-20px}
.main .topmenu nav .navlist .navtop:nth-child(5) {margin-right:10px}
.main .topmenu nav .navlist .navtop:hover {font-family: 'NanumSquareB';font-size: 20px; transition:opacity .3s ease;}


.main .topmenu nav .dp2 {
	overflow: hidden; text-align: left ;top: 65px; position: absolute; background: #103562; opacity: 80%; width: 170px; font-family: 'NanumSquareR';font-size: 18px;
}
.main .topmenu nav .dp2.open {opacity:1; }
.main .topmenu nav .dp2 > li {line-height: 1.5; padding:8px 0;}
.main .topmenu nav .dp2 > li > a {color:#fff;padding: 0;margin-left: 40px  }
.main .topmenu nav .dp2 > li > a:hover { color:#0174ff; font-family: 'NanumSquareB';background: #fff; }

/* .main .topmenu .navlist .gnb_bg {background:#2b2b2b;position:absolute;height: 245px ;width: 150px;top:58px; opacity: 80%; z-index: -5;} */




.mainimg {position:relative;width:100%;top: 95px; height: 880px}
.mainimg .swiper-button-next{right: 105px}
.mainimg .swiper-button-prev{left: 105px}

.mainimg .scroll { z-index: 10; width: 100px; height: 100px; top: 820px;left: 50%;margin-left: -50px; position: absolute}
.mainimg .scroll a {
  padding-top: 60px;
}
.mainimg .scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #474747;
  border-radius: 50px;
  box-sizing: border-box;
}
.mainimg .scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #474747;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
.mainimg .scroll a p{ font-family: 'NanumSquareR';font-size: 18px; color: #474747;
	position: absolute;top: 65px; left: 25px;letter-spacing: 2px}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 2 페이지 */

.drink{position:relative; margin: 0 auto; top: 150px
}
.drink .bluebox {}
.drink .bluebox .bluebox01 {}
.drink .bluebox .bluebox01 p {position: absolute ;top: 55px;left: 840px; z-index: 1;
	font-family: 'NanumSquareL';font-size: 18px; color: #fff;text-align: right; line-height: 30px;
}
.drink .bluebox .bluebox02 {position: absolute;right: 0;top: 0;}
.drink .bluebox .bluebox02 button {background: url(../img/overlay.png)no-repeat 0 0;
	width: 315px; height:120px; position: absolute;right: 96px;top: 40px;opacity: 85%
}
.drink .bluebox .bluebox02 button p {position: absolute ; z-index: 1;
	font-family: 'NanumSquareB';font-size: 24px; color: #fff;text-align: center;line-height: 1.4;top: 30px; right:105px; 
}
.drink .bluebox .bluebox02 button p::after {content: ""; display: block;
	width:35px; height:35px; border-top:3px solid #fff; border-right:3px solid #fff; transform: rotate(45deg); top: 10px; left:150px; position: absolute}

.drink .recommend {}
.drink .recommend .rebg {background:#103562; height: 90px; width: 100%;text-align: center;z-index: 0 }
.drink .recommend p {z-index: 1;position: absolute; top: 218px ;right: 780px;}
.drink .recommend p:nth-child(2) {font-family: 'NanumSquareB';font-size: 30px; color: #fff;}
.drink .recommend p:nth-child(3) {font-family: 'NanumSquareR';font-size: 22px; color: #fff;right: 860px;top: 255px;}


.drink .drinkimg{height: 822px;position:relative;width:1480px; margin: 0 auto; margin-top: 108px}

.imgd01 , .imgd02 , .imgd03 {width: 490px; height: 550px;}

.d01 , .d02 , .d03 {position: relative; overflow: hidden; background-color: #ececec;float: left;
}
.d01 , .d02 {margin-right:4px }

.d01 * , .d02 * , .d03 * {
 -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.d01 img , .d02 img , .d03 img { max-width: 100%; backface-visibility: hidden; margin: 80px 95px 105px;
}
.d01 img , .d03 img {margin-top: 110px}

.d01 p , .d02 p , .d03 p {margin-bottom: 40px;text-align: center;
	font-family: 'NanumSquareR';font-size: 20px; color: #000;
}

.d01 figcaption , .d02 figcaption , .d03 figcaption { position: absolute; top: 0; left: 0; right: 0; z-index: 1; align-items: center; bottom: 0; display: flex; flex-direction: column; justify-content: center;
}


.d01 .dtext , .d02 .dtext , .d03 .dtext  { margin: 0; opacity: 0; letter-spacing: 1px;
	text-align: left;width: 490px; height: 550px;
	padding:80px 0 0 65px;
}

.d01 .dtext h3 {font-family: 'NanumSquareEB';font-size: 22px;}
.d01 .dtext span:nth-child(2) {font-family: 'NanumSquareL';font-size: 15px;margin-top: 3px;display: block;}
.d01 .dtext span:nth-child(3) {font-family: 'NanumSquareR';font-size: 17px;margin-top: 20px; display: block}

.d01 .dtext .textinner p {color: #484848;font-family: 'NanumSquareL';font-size: 16px;text-align: left;line-height: 2.8}
.d01 .dtext .textinner.t01 {margin-top: 50px}
.d01 .dtext .textinner.t02 {margin-left: 170px; margin-top: -240px}
.d01 .dtext p {font-family: 'NanumSquareL';font-size: 16px;text-align: left;color: #6e6d6d;margin-bottom: 110px}

.d02 .dtext h3 {font-family: 'NanumSquareEB';font-size: 22px;}
.d02 .dtext span:nth-child(2) {font-family: 'NanumSquareL';font-size: 15px;margin-top: 3px;display: block;}
.d02 .dtext span:nth-child(3) {font-family: 'NanumSquareR';font-size: 17px;margin-top: 20px; display: block}

.d02 .dtext .textinner p {color: #484848;font-family: 'NanumSquareL';font-size: 16px;text-align: left;line-height: 2.8}
.d02 .dtext .textinner.t01 {margin-top: 50px}
.d02 .dtext .textinner.t02 {margin-left: 170px; margin-top: -240px}
.d02 .dtext p {font-family: 'NanumSquareL';font-size: 16px;text-align: left;color: #6e6d6d;margin-bottom: 110px}

.d03 .dtext h3 {font-family: 'NanumSquareEB';font-size: 22px;}
.d03 .dtext span:nth-child(2) {font-family: 'NanumSquareL';font-size: 15px;margin-top: 3px;display: block;}
.d03 .dtext span:nth-child(3) {font-family: 'NanumSquareR';font-size: 17px;margin-top: 20px; display: block}

.d03 .dtext .textinner p {color: #484848;font-family: 'NanumSquareL';font-size: 16px;text-align: left;line-height: 2.8}
.d03 .dtext .textinner.t01 {margin-top: 50px}
.d03 .dtext .textinner.t02 {margin-left: 170px; margin-top: -240px}
.d03 .dtext p {font-family: 'NanumSquareL';font-size: 16px;text-align: left;color: #6e6d6d;margin-bottom: 110px}


.d01 .dtext { -webkit-transform: translateY(-100%); transform: translateY(-100%); text-transform: uppercase; font-weight: 400;
}

.d02 .dtext { -webkit-transform: translateY(-100%); transform: translateY(-100%); text-transform: uppercase; font-weight: 400;
}

.d03 .dtext { -webkit-transform: translateY(-100%); transform: translateY(-100%); text-transform: uppercase; font-weight: 400;
}


.d01:hover .dtext ,
.d01.hover .dtext{ -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;background: #ececec;
}

.d02:hover .dtext ,
.d02.hover .dtext{ -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;background: #ececec;
}

.d03:hover .dtext,
.d03.hover .dtext { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;background: #ececec;
}


/* 3 페이지 */
.dreamfac {position:relative; margin: 0 auto; top: 110px;height: 1080px }

.dreamfac .dream01 {}
.dreamfac .dream01 img {}
.dreamfac .dream01 h5 {
	font-family: 'NanumSquareEB';font-size: 80px;color: #0c3e7b; display: inline-block;position: absolute;top: 50px; left: 1040px
}
.dreamfac .dream01 p {
	font-family: 'NanumSquareR';font-size: 20px;display: inline-block; position: absolute; top: 168px; left: 1040px
}
.dreamfac .dream01 .but {
	font-family: 'NanumSquareR';font-size: 20px; position: absolute;top: 385px;right: 0;left: 1040px;
}
.dreamfac .dream01 .but a {border: 3px solid #0c3e7b; width: 176px; height: 48px;background: #fff;display: block;float: left;text-align: center;line-height: 2.2 }
.dreamfac .dream01 .but a:nth-child(1) {margin-right: 26px}
.dreamfac .dream01 .but a:hover {border: 3px solid #0c3e7b;background: #0c3e7b;color: #fff}


.dreamfac .dream02 {position: relative}
.dreamfac .dream02 h3 {
	display: block; z-index: 1;position: absolute;top: 126px; right: 1060px; font-family: 'NanumSquareB';font-size: 34px; color: #fff;text-align: right
}
.dreamfac .dream02 p {
	display: block; z-index: 1;position: absolute;top: 253px; right: 1060px; font-family: 'NanumSquareR';font-size: 20px; color: #fff;text-align: right;line-height: 30px
}
.dreamfac .dream02 img:nth-child(1) {position: absolute ;left:0 ;}
.dreamfac .dream02 img:nth-child(4) {position: absolute ;right: 0 }


/* 4 페이지 */

.lab {position:relative; margin: 0 auto; top: 0px;height: 735px}
.lab .labtop {position: absolute;top: 130px;left:750px}
.lab .labtop h5 {font-family: 'NanumSquareEB';font-size: 36px; color: #000;text-align: center}
.lab .labtop p {font-family: 'NanumSquareR';font-size: 14px;color: #242424;text-align: center; word-spacing: -.5px;line-height: 18px; margin-top: 20px}

.lab .labimg .img01 {position: absolute; top: 280px; left: 530px;}
.lab .labimg .img01 img {}
.lab .labimg .img01 p {text-align: center;font-family: 'NanumSquareR';font-size: 15px;color: #414141;margin-top: 20px}

.lab .labimg .img02 {position: absolute; top: 280px; left: 860px;}
.lab .labimg .img02 img {}
.lab .labimg .img02 p {text-align: center;font-family: 'NanumSquareR';font-size: 15px;color: #414141;margin-top: 20px}

.lab .labimg .img03 {position: absolute; top: 280px; left: 1195px;}
.lab .labimg .img03 img {}
.lab .labimg .img03 p {text-align: center;font-family: 'NanumSquareR';font-size: 15px;color: #414141;margin-top: 20px}

.lab .labbut {
	font-family: 'NanumSquareR';font-size: 20px;
	position: absolute; top: 590px; left: 860px;
}
.lab .labbut a {display: block;
	background: #2764ae; width: 200px; height: 50px;
	text-align: center;line-height: 2.5; color: #fff
}

.lab .labbut a:hover { background: #fff; border: 3px solid #2764ae;line-height: 2.2;font-family: 'NanumSquareEB';color:#2764ae }


/* 4-1 페이지 */

.lab02 {position: relative ;background: #252320; height: 547px;  }
.lab02 img {position: absolute; left: 0; opacity: 25%; top: 20px}

.lab02 .lab02_inner{position: absolute; left: 1092px; width: 509px; height: 547px}

.lab02 .lab02_inner h3 {font-family: 'NanumSquareEB';font-size: 30px; color: #e89134; top: 70px; text-align: left;  position: absolute}
.lab02 .lab02_inner h3::after {
	content: "";display: block; width: 806px; border-bottom: 1px solid #666666; margin: 3px 0px; }

.lab02 .lab02_inner p {font-family: 'NanumSquareL';font-size: 18px; color: #fff; top: 160px; text-align: left; position: absolute; line-height: 22px; word-spacing: 2px}
.lab02 .lab02_inner p:nth-child(2) {}
.lab02 .lab02_inner p:nth-child(3) {margin-top: 110px}

.lab02 .lab02_inner a {
	font-family: 'NanumSquareB';font-size: 20px; color: #000; top: 430px; text-align: left; position: absolute; width: 200px; height: 50px; background: #fff;
	padding: 13px 50px; word-spacing: 3px; 
}
.lab02 .lab02_inner a:hover {background: #e89134; color: #fff}


/* 5 페이지 */

.box {position:relative; margin: 0 auto; height: 770px; }

.box .store {position: absolute; left: 354px; top: 154px;}
.box .store .txt {position: absolute;top: 90px; left: 62px;z-index: 1; }
.box .store .txt p {font-family: 'NanumSquareR';font-size: 20px; color: #fff;}

.box .store .Search {
	z-index: 1;display: block;left: 60px; top: 235px;position: absolute;
	width:300px; height: 50px;background: rgba(255, 255, 255, 0.2);
}
.box .store .Search input {font-size: 20px;outline: none; width: 300px; padding:10px 20px;border: 0px;float: left}
.box .store .Search input:-ms-input-placeholder {color: #1f1f1f;}
.box .store .Search input::-webkit-input-placeholder {color: #1f1f1f;}
.box .store .Search input::-moz-input-placeholder {color: #1f1f1f;}

.box .store .Search button {
	outline: none; float: right; z-index: 10;display: inline-block;position: absolute; left: 250px;top: 8px

}
.box .store img {z-index: 0;}


.box .news {position: absolute; left: 995px; top: 194px;}
.box .news table {width: 562px; height: 140px;}
.box .news table thead {font-family: 'NanumSquareB';font-size: 22px; color: #000;float: left}

.box .news table tbody {
	font-family: 'NanumSquareR';font-size: 16px; color: #000;
	position: absolute; top: 65px
}
.box .news table tbody td:nth-child(1) {padding-bottom: 12px;padding-right: 230px}
.box .news table tbody td:nth-child(2) {font-family: 'NanumSquareL';font-size: 14px; color: #5c5c5c;}
.box .news a {position: absolute; top: 0px;right: 0;font-family: 'NanumSquareR';font-size: 20px;}
.box .news a img {margin-right: 8px;float: left;margin-top: 4px}
.box .news a p{display:inline-block;}


.box .open {position: absolute; left: 960px; top: 387px;}
.box .open .text {z-index: 1;position: absolute ;top: 60px; left: 33px}
.box .open .text p:nth-child(1){font-family: 'NanumSquareB';font-size: 22px; color: #fff; margin-bottom: 15px}
.box .open .text p:nth-child(2){font-family: 'NanumSquareL';font-size: 16px; color: #fff}

.box .open .button{
	font-family: 'NanumSquareR';font-size: 16px;
	position: absolute;top: 190px;left: 254px;z-index: 10;
}
.box .open .button a:nth-child(1) {
	border: 2px solid #fff; width: 136px; height: 38px;display: block;float: left;text-align: center; margin-right: 22px;color: #fff;line-height: 2
}
.box .open .button a:nth-child(2) {
	border: 2px solid #fff; width: 136px; height: 38px;display: block;float: left;text-align: center;color: #fff;line-height: 2
}
.box .open .button a:hover {background: #2764ae}

.box .open img {z-index: 0;}


/*end page*/

.end {position: relative; height:305px; background: #151515;}

.end .txtbox {position: absolute; top: 76px; left: 220px;}

.end .txtbox .inner {position: absolute ;left: 300px;width:900px}
.end .txtbox .inner a {display: block;float: left;
	margin-right: 80px; font-family: 'NanumSquareR';font-size: 16px; color: #949494;
}

.end .txtbox .address {position: absolute ;left: 300px;top: 60px;width:900px}
.end .txtbox .address p {font-family: 'NanumSquareR';font-size: 14px; color: #949494;line-height: 1.8}

.end .txtbox .tel {position: absolute ;left: 800px;top: 65px;width:130px;font-family: 'NanumSquareR';font-size: 14px; color: #949494;line-height: 1.5}

.end .txtbox .icon {position: absolute ;left: 1100px;top: -5px;opacity: 50%; width: 160px}

.end .txtbox .endlogo {position: absolute ;left: 50px;top: 60px;opacity: 25%}


















